<!DOCTYPE = html>
<html>
  <head>
    <meta charset="utf-8">
    <title> SPD </title>
    <link rel= "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
    {% block head %} {% endblock %}
  </head>
  <body>
    
    <body background = "{{ url_for('static', filename='images/darkAcc.jpeg')}}">

    {% include "includes/_navbar.html" %}
    <div class="container">

        {% include 'includes/_messages.html' %}

        {% block body %} {% endblock %}
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
    <script src="//cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
  </body>
</html>
